<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update City</title>
</head>
<body>
<a href="/city/list">List of Cities</a>
    <h2>Update City</h2>

    <form action="/city/edit" method="post">
        <table border="1" cellpadding="10" th:object="${city}">
            <tr>
                <input type="hidden" th:field="*{id}">
                <td>Name</td>
                <td>
                    <input type="text" th:field="*{name}">
                </td>
            </tr>
            <tr>
                <td>Country</td>
                <td>
                    <select th:field="*{country}">
                        <option th:each="country : ${countries}" th:value="${country.getId()}"
                                th:text="${country.getName()}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Total Area</td>
                <td>
                    <input type="number" th:field="*{totalArea}">
                </td>
            </tr>
            <tr>
                <td>Population</td>
                <td>
                    <input type="number" th:field="*{population}">
                </td>
            </tr>
            <tr>
                <td>GDP</td>
                <td>
                    <input type="number" th:field="*{gdp}">
                </td>
            </tr>
            <tr>
                <td>Intro</td>
                <td>
                    <textarea th:field="*{description}"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="UPDATE">
                </td>
            </tr>
        </table>
    </form>
    <a href="/city/list">Exit</a>

</body>
</html>